nav{
    width: 100vw;
    height: 60px;
    display: flex;
    padding: 5px 20px;
    background-color: #0f0f0f;
    align-items: center;
    justify-content: space-between;
    position: sticky    ;
    top: 0px;
}
.menu{
    display: flex;
    align-items: center;
}
.svg{
    height: 23px;
}
.youtubelogo{
    width: 145px;
}

.inputfield{
    display: flex;
    gap: 20px;
}

.search{
    background-color: #121212;
    width: 35vw;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: 2px solid #222222;
    z-index: 1;
}
.search input{
    background-color: transparent;
    outline: none;
    width: 100%;
}

.search span{
    display: flex;
    align-items: center;
}
.mic{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clear{
    background-color: transparent;
    margin-right: 5px;
}
.clear:hover{
    width: 40px;
    border-radius: 30px;
    
    background-color:#38363681;
}
.mic:hover{
    background-color:#353333;
}
.detail{
    display: flex;
    align-items: center;
    gap: 20px;
}